{% extends "wklejacz/base.html" %}

{% block title %}Wklejacz - Twoje wszystkie wpisy{% endblock %}

{% block styles %}
    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
{% endblock %}

{% block content %}

    {% block errors %}
        {% if form.errors %}
            <p>Twoja nazwa użytkownika lub hasło jest błędne.</p>
        {% endif %}
    {% endblock %}

    <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        <h2 class="form-signin-heading">Panel logowania</h2>
{#        <table>#}
{#            <tr>#}
{#                <td>{{ form.username.label_tag }}</td>#}
{#                <td>{{ form.username }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.password.label_tag }}</td>#}
{#                <td>{{ form.password }}</td>#}
{#            </tr>#}
{#        </table>#}
            <input id="id_username" maxlength="254" name="username" type="text" class="input-block-level" placeholder="Login">
            <input id="id_password" name="password" type="password" class="input-block-level" placeholder="Hasło">

        <input type="submit" value="Zaloguj się" class="btn btn-large btn-primary" />
        <input type="hidden" name="next" value="{{ next }}" />

        <br /><br /><a href="{% url 'accounts:register' %}">Zarejestruj się</a>
    </form>

    <p>
        Logując lub rejestrując się do serwisu akceptujesz to, że strona może zapisać pliki cookies w twojej przeglądarce.
    </p>

    <br><br>
    admin:b<br />
    piotrek:b
{% endblock %}

{% block loggedContent %}
{% endblock %}
