{% extends "wklejacz/base.html" %}

{% block title %}Wklejacz - Twoje wszystkie wpisy{% endblock %}

{% block styles %}
    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 400px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
{% endblock %}

{% block content %}

    <form class="form-signin"  action="" method="post">
        {% csrf_token %}

        <h2>Stwórz nowe konto</h2>

        <input id="id_username" maxlength="30" name="username" type="text" class="input-block-level" placeholder="Login">
        <br /><br />

        <span class="helptext">Maksymalnie 30 znaków. Tylko litery, cyfry i znaki @.+-_.</span>
        <input id="id_password1" name="password1" type="password" class="input-block-level" placeholder="Hasło">
        <input id="id_password2" name="password2" type="password" class="input-block-level" placeholder="Powtórz hasło">

        <input type="submit" value="Utwórz konto" class="btn btn-large btn-primary">
    </form>

    <p>
        Logując lub rejestrując się do serwisu akceptujesz to, że strona może zapisać pliki cookies w twojej przeglądarce.
    </p>

    <br><br>
{% endblock %}

{% block loggedContent %}
{% endblock %}
