{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Wklejacz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>
<body>

{% block navigation %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Wklejacz</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="{% url 'entries:index' %}">Strona główna</a></li>
                    <li><a href="{% url 'entries:about' %}">O stronie</a></li>
                    <li><a href="{% url 'entries:contact' %}">Kontakt</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href="#">Witaj {{ user.username }}</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Wyloguj</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Zaloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block loggedContent %}
    <div class="container-fluid">
    <div class="row-fluid">
        {% block sitebar %}
        {% endblock %}
        <div class="span9">
            <div class="hero-unit">

                {% block heroUnit %}
{#                <h1>Hello, world!</h1>#}
{#                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>#}
{#                <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>#}
                {% endblock %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

</body>
</html>