{% extends "wklejacz/base.html" %}
{% load staticfiles %}

{% block title %}Wklejacz - O stronie{% endblock %}

{% block content %}
{% endblock %}

{% block heroUnit %}
    <h1>O stronie</h1>

    <p>
        Strona służy do wklejania własnych notatek. Rejestracja odbywa się przez stronę jednak największą zaletą narzędzia jest <a href="{% static "WklejaczAndroid.apk" %}">aplikacja na androida</a>, która umożliwia wykonywanie tych czynności z poziomu urządzenia mobilnego.
    </p>
    <p>
        Użytkownik ma możliwość wrzucania wpisów:
        <ul>
            <li><strong>publicznych</strong> - są widoczne na stronie głównej wklejacza i każdy może je obejrzeć,</li>
            <li><strong>prywatnych</strong> - są widoczne tylko dla autora danego wpisu, wyświetlają się również w aplikacji na androida,</li>
            <li><strong>ukrytych</strong> - są widoczne dla autora danego wpisu oraz osób posiadających bezpośredni link do wpisu, tak jak wpisy prywatne są wyświetlane w aplikacji na androida.</li>
        </ul>
    </p>

    <h2>Licencja</h2>
    <p>
        Projekt i wszystkie narzędzia stworzone podczas jego przebiegu powstały na licencji: <strong>Creative Commons - Uznanie Autorstwa (CC-BY)</strong>
    </p>
    <p>
        Uznanie autorstwa 3.0 Polska – Licencja ta pozwala na kopiowanie, zmienianie, rozprowadzanie, przedstawianie i wykonywanie utworu jedynie pod warunkiem oznaczenia autorstwa. Jest to licencja gwarantująca najszersze swobody licencjobiorcy.
    </p>
    <p>
        <a href="http://creativecommons.org/licenses/by/3.0/pl/">[1]</a> <a href="http://creativecommons.org/licenses/by/3.0/pl/legalcode">[2]</a>
    </p>
{% endblock %}

{% block sitebar %}
{% endblock %}