{% extends "wklejacz/base.html" %}

{% block title %}Wklejacz - Kontakt{% endblock %}

{% block content %}
{% endblock %}

{% block heroUnit %}
    <h1>Kontakt</h1>

    <p>
        Jakub Czyżewski &lt;<a href="mailto:kczyzz@gmail.com">kczyzz@gmail.com</a>&gt;<br>
        Piotr Przetacznik &lt;<a href="mailto:piotr.przetacznik@gmail.com">piotr.przetacznik@gmail.com</a>&gt;<br>
    </p>
{% endblock %}

{% block sitebar %}
{% endblock %}