{% extends "wklejacz/base.html" %}

{% block title %}Wklejacz - Twoje wszystkie wpisy{% endblock %}

{% block content %}
{% endblock %}

{% block heroUnit %}
    <h2>{{ entry.description }}</h2>

    <h5>{{ entry.type_id }} ({{ entry.create_date }})</h5>

    <p>
        {{ entry.content }}
    </p>
{% endblock %}

{% block sitebar %}

    <div class="span3">
        <div class="well sidebar-nav">
            {% if notes_list %}
                <ul class="nav nav-list">
                    <li class="nav-header">Poprzednie wpisy</li>
                    {% for entry_node in notes_list %}
                        <li {% ifequal entry_node.link entry.link %}class="active"{% endifequal %}><a href="/entries/{{ entry_node.link }}/">{{ entry_node.description }}</a> <span>{{ entry_node.type_id }} ({{ entry_node.create_date }})</span></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div><!--/.well -->
    </div><!--/span-->
{% endblock %}