{% extends "wklejacz/base.html" %}

{% block title %}Wklejacz - Twoje wszystkie wpisy{% endblock %}

{% block sitebar %}

        <div class="span3">
            <div class="well sidebar-nav">
                {% if notes_list %}
                    <ul class="nav nav-list">
                        <li class="nav-header">Poprzednie wpisy</li>

                        {% for entry in notes_list %}
                            <li><a href="/entries/{{ entry.link }}/">{{ entry.description }}</a> <span>{{ entry.type_id }} ({{ entry.create_date }})</span></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block heroUnit %}

<h1>Dodaj nowy wpis</h1><br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'entries:add' %}" method="post">{% csrf_token %}
    <input class="input-block-level" placeholder="Opis" type="text" name="description" value=""><br>

    <textarea class="input-block-level" placeholder="Zawartość" name="content" cols="50" rows="5"></textarea>

    Typ wpisu:<br>
    <select name="note_type"  class="input-block-level">
        {% for note_type in note_types %}
        <option value="{{ note_type.id }}">{{ note_type.name }}</option>
        {% endfor %}
    </select><br>

    <input class="btn btn-primary btn-large" type="submit" value="Utwórz nowy wpis" />
</form>

{% endblock %}